<body>
<%= link_to "Our GLORIOUS Histories", histories_path%><br/>
<div id="title" style="display: inline-block;"><%= link_to image_tag("dog.jpg", size: "500x300", alt: "Edit Entry"),url_for(params)%></div>
<div id="admin" style="display: inline-block;">
<% if admin? %>
<%= link_to "undo", scores_undo_path, {:id=>"undo",:confirm => 'Sure?'}%>
	<%if call_turn? %>
		<%= form_tag controller: "scores", action: "create_calls", method: "post" do%>
			<div id="input">
				<% for @user in @users%>
					<%=@user.name%>
					<%= label_tag(:"call#{@user.id}","call") %>
					<%= text_field_tag :"call#{@user.id}", nil,class: 'text_field' %>
					<br/>
				<% end %>
			</div>
			<div class = "button"><%= submit_tag("Commit Calls!") %></div>
		<% end %>
	<% else %>
		<%= form_tag controller: "scores", action: "create_wins", method: "post" do%>
			<div id="input">
				<% for @user in @users%>
					<%=@user.name%>
					<%= label_tag(:"win#{@user.id}","win") %>
					<%= text_field_tag(:"win#{@user.id}",nil ,class: 'text_field')%>
					<br/>
				<% end %>
			</div>
			<div class = "button"><%= submit_tag("Commit Wins!") %></div>
		<% end %>
	<% end %>
<% end %>
</div>


<!--div id="admin">
	<% if admin? %>
		Admin rights: <br/>
		<% if call_turn? %>
			<%= link_to "Enter calls", scores_new_calls_path, :id => "calls" %>
		<% else %>
			<%= link_to "Enter wins", scores_new_wins_path, :id => "wins"  %>
		<% end %>
		<%= link_to "undo", scores_undo_path, {:id=>"undo",:confirm => 'Sure?'}%>
	<%end%>
</div-->
<%if @users==[]%>
	<script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script type="text/javascript">if (WIDGETBOX) WIDGETBOX.renderWidget('bcd2ff72-0811-49fe-8b74-c8ac4255103b');</script>
<noscript>Get the <a href="http://www.widgetbox.com/widget/full-size-synth-piano">Full Size Synth Piano</a> widget and many other <a href="http://www.widgetbox.com/">great free widgets</a> at <a href="http://www.widgetbox.com">Widgetbox</a>! Not seeing a widget? (<a href="http://support.widgetbox.com/">More info</a>)</noscript>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" type="application/x-shockwave-flash" width="696px" height="289px" id="InsertWidget_5203128a-853d-413a-a98b-55f93a4db48c" align="middle"><param name="movie" value="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf"/><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="menu" value="false" /><param name="flashvars" value="r=2&appId=5203128a-853d-413a-a98b-55f93a4db48c" /><param name="allowScriptAccess" value="sameDomain" /> <embed src="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf"  name="InsertWidget_5203128a-853d-413a-a98b-55f93a4db48c"  width="696px" height="289px" quality="high" menu="false" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" align="middle"  allowScriptAccess="sameDomain" flashvars="r=2&appId=5203128a-853d-413a-a98b-55f93a4db48c" ></embed></object>
<% end %>
<%for @user in @users%>
<div id ="block">
	<table style="display: inline-block;"><tr><td id="name"><%= @user.name%></td></tr></table>
	<%for @score in @user.scores.order("created_at ASC")%>
		<table id="score" style="display: inline-block;">		
			<tr>
				<td id="call"><%= @score.num_calls%></td>
				<td id="win"><%= @score.num_wins%></td>
			</tr>
			<tr><td id="record"><%= @score.record%></td></tr>
		</table>
	<%end%>
	<table id="total" style="display: inline-block;">
		<tr>
			<td><%= @user.name%></td>
		</tr>
		<tr>
			<td><%= @user.total%></td>
		</tr>
	</table>
	<br/>
</div>
<%end%>
<% if admin? %>
	<%= link_to "Clear Data", 'users/destroy_all',{:confirm => 'Sure?'}%>
<%end%>
</body>