<body>
<%= link_to "Our GLORIOUS Histories", histories_path%><br/>
<div id="title" style="display: inline-block;"><%= link_to image_tag("dog.jpg", size: "500x300", alt: "Edit Entry"),url_for(params)%></div>
<div id="admin" style="display: inline-block;">
<% if admin? %>
<%= link_to "undo", scores_undo_path, {:id=>"undo",:confirm => 'Sure?'}%>
	<%if call_turn? %>
		<%= form_tag controller: "scores", action: "create_calls", method: "post" do%>
			<div id="input">
				<% for @user in @users%>
					<%=@user.name%>
					<%= label_tag(:"call#{@user.id}","call") %>
					<%= text_field_tag :"call#{@user.id}", nil,class: 'text_field' %>
					<br/>
				<% end %>
			</div>
			<div class = "button"><%= submit_tag("Commit Calls!") %></div>
		<% end %>
	<% else %>
		<%= form_tag controller: "scores", action: "create_wins", method: "post" do%>
			<div id="input">
				<% for @user in @users%>
					<%=@user.name%>
					<%= label_tag(:"win#{@user.id}","win") %>
					<%= text_field_tag(:"win#{@user.id}",nil ,class: 'text_field')%>
					<br/>
				<% end %>
			</div>
			<div class = "button"><%= submit_tag("Commit Wins!") %></div>
		<% end %>
	<% end %>
<% end %>
</div>


<!--div id="admin">
	<% if admin? %>
		Admin rights: <br/>
		<% if call_turn? %>
			<%= link_to "Enter calls", scores_new_calls_path, :id => "calls" %>
		<% else %>
			<%= link_to "Enter wins", scores_new_wins_path, :id => "wins"  %>
		<% end %>
		<%= link_to "undo", scores_undo_path, {:id=>"undo",:confirm => 'Sure?'}%>
	<%end%>
</div-->
<%if @users==[]%>
<iframe src="http://www.weweweb.net/game/webpage/gbridge-howto.html" width="100%" height="500">
  <p>Your browser does not support iframes.</p>
</iframe>
<% end %>
<%for @user in @users%>
<div id ="block">
	<table style="display: inline-block;"><tr><td id="name"><%= @user.name%></td></tr></table>
	<%for @score in @user.scores.order("created_at ASC")%>
		<table id="score" style="display: inline-block;">		
			<tr>
				<td id="call"><%= @score.num_calls%></td>
				<td id="win"><%= @score.num_wins%></td>
			</tr>
			<tr><td id="record"><%= @score.record%></td></tr>
		</table>
	<%end%>
	<table id="total" style="display: inline-block;">
		<tr>
			<td><%= @user.name%></td>
		</tr>
		<tr>
			<td><%= @user.total%></td>
		</tr>
	</table>
	<br/>
</div>
<%end%>
<% if admin? %>
	<%= link_to "Clear Data", 'users/destroy_all',{:confirm => 'Sure?'}%>
<%end%>
</body>
This Site Powered by <%=image_tag("rails.png") %>