<h1>Sign up all player</h1>
<%=link_to "Home", '/'%><br/>
<%if @users %>
	<% for @u in @users %>
		<%=@u.name%>
	<%end%>
<%end%>
<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name%>

	<%= f.submit "Next" %>
	<%= f.submit "End" %>
<%end%>